CompileFlags:
  Add:
    - "-DNTFX_FS=48e3"
    - "-Ilib/gcem/include"
    - "-I../../lib/gcem/include"
    - "-I../.."
    - -Wimplicit-float-conversion
    # - -Wimplicit-fixed-point-conversion
    - -Wimplicit-int-float-conversion
