[submodule "JuceWrapper/JUCE"]
	path = JuceWrapper/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/gcem"]
	path = lib/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "JuceWrapper/pluginval"]
	path = JuceWrapper/pluginval
	url = https://github.com/Tracktion/pluginval.git
